/* Debian language css file for arabic - ar */

html[lang|=ar] q:before { content: "\00AB"; }
html[lang|=ar] q:after { content: "\00BB"; }

html[lang=ar] blockquote.quote p:first-child:before { content: "\00AB"; }
html[lang=ar] blockquote.quote p:after { content: ""; }
html[lang=ar] blockquote.quote p.last:after { content: "\00BB"; }

html[lang=ar] #header {
    padding:0 52px 0 10px;
}
html[lang=ar] #logo {
    left:auto;
    right:0;
    direction:ltr;
}
html[lang=ar] #searchbox {
    left:0;
    right: auto;
}
html[lang=ar] #navbar li {
    float:right;
}
html[lang=ar] #content,
html[lang=ar] #footer {
    margin:0 52px 0 10px;
}
html[lang=ar] #langContainer {
    direction:ltr;
    text-align:right;
}

html[lang=ar] ul#hometoc-cola, html[lang=ar] ul#hometoc-colb, 
html[lang=ar] ul#hometoc-colc, html[lang=ar] ul#hometoc-cold,
html[lang=ar] ul#hometoc-cole {
    float: right;
}

html[lang=ar] ul#footermap-cola, html[lang=ar] ul#footermap-colb,
html[lang=ar] ul#footermap-colc, html[lang=ar] ul#footermap-cold,
html[lang=ar] ul#footermap-cole {
    float: right;
}

html[lang=ar] ol,
html[lang=ar] ul {
     padding-right: 1.5em;
     padding-left: 0;
}

html[lang=ar] span.download {
    left: 13px;
    right: auto;
}

html[lang=ar] a.rss_logo {
    float: left;
}

html[lang=ar] ol {
    list-style-type: -moz-arabic;
    list-style-type: arabic;
}

html[lang=ar] body {
   direction: rtl;

   font-family: sans-serif;
   line-height: 1.8;
}

html[lang=ar] #header, html[lang=ar] #footer,
html[lang=ar] #breadcrumbs, html[lang=ar] #second-nav, 
html[lang=ar] #navbar ul, html[lang=ar] h1, h2, h3, h4, h5, h6 {
    direction: rtl;
    font-family: sans-serif;
}

#software.column-right li, #community.column-left li {
    text-align: right;
}

/* Adjust padding direction for .project-news-content on the start page. */
html[lang=ar] .project-news-content {
    padding-left: 0px;
    padding-right: 110px;
}
